<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
<body>
<table>
    <a th:href="@{/home/nextPageAdd}">Tạo SP</a>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${list}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td>
            <a th:href="@{/home/{id}/delete(id=${product.id})}">Xóa</a>
            <a th:href="@{/home/{id}/nextPageUpdate(id=${product.id})}">Sữa</a>
        </td>
    </tr>
    <!-- Repeat the above <tr> for each product -->
    </tbody>
</table>
</body>
</html>