<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS -->
    <style>
        .menu-item {
            padding: 10px 20px;
        }

        .cart-icon {
            font-size: 24px;
        }

        img {
            width: 50px;
            height: auto;
        }

        .bor-s1 {
            border-radius: 10px;
            height: auto;
        }
        .action-btn {
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Nhân Viên
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: none">
                        <li><a class="dropdown-item bor-s1" href="#">Danh Sách Nhân Viên</a></li>
                        <li><a class="dropdown-item bor-s1" href="#">Thêm Mới Nhân Viên</a></li>
                        <li><a class="dropdown-item bor-s1" href="#">Nhân Viên Ưu Tú</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Hợp Đồng
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: none">
                        <li><a class="dropdown-item bor-s1" href="#">Tạo Hợp Đồng</a></li>
                        <li><a class="dropdown-item bor-s1" href="#">Danh Sách Hợp Đồng</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Người Thuê
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: none">
                        <li><a class="dropdown-item bor-s1" href="#">Danh Sách Người Thuê</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tài Khoản
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: none">
                        <li><a th:href="@{/account/nextPageAddAccount}" class="dropdown-item bor-s1" href="#">Tạo Tài
                            Khoản</a></li>
                        <li><a class="dropdown-item bor-s1" th:href="@{/account/nextPageGetAllAccount}">Danh Sách tài khoản</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span sec:authentication="principal.username"/></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: none">
                        <li><a class="dropdown-item bor-s1" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Content List Account-->

<div class="container">
    <h2 class="mt-5">Danh sách tài khoản</h2>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Tài khoản</th>
            <th scope="col">Mật khẩu</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${listAccount}">
            <td th:text="${account.username}"></td>
            <td th:text="${account.password}"></td>
            <td><span sec:authentication="principal.authorities"/></td>
            <td>
                <button class="btn btn-warning action-btn" >Sữa</button>
                <button class="btn btn-danger action-btn" >Xóa</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <div class="text-center" th:unless="${listAccount.isEmpty()}">
        <a th:href="@{/account/nextPageGetAllAccount(page=${listAccount.number - 1})}" th:if="${listAccount.hasPrevious()}">Prev</a>
        <a th:text="${listAccount.number + 1}"></a> / <a th:text="${listAccount.totalPages}"></a>
        <a th:href="@{/account/nextPageGetAllAccount(page=${listAccount.number + 1})}" th:if="${listAccount.hasNext()}">Next</a>
    </div>



<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>